@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

.package-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.amazon,
.rotton,
.apple {
  float: left;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

img {
  max-width: 100%;
}

header {
  background-color: #008b8b;
  text-align: center;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  text-transform: uppercase;
}

h1,
h2 {
  font-family: "Bebas Neue", serif;
  text-decoration: underline;
}

p {
  font-family: "Rajdhani", serif;
}

.Basic-img {
  width: fit-content;
  height: 700px;
  display: block;
}

@media only screen and (min-width: 700px) {
  .package-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1050px) {
  .package-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
