header {
  background-color: #008b8b;
  text-align: center;
  width: 50%;
  border: 2px solid black;
  border-radius: 5px;
  text-transform: uppercase;
}

.footer {
  background-color: #008b8b;
  text-align: center;
  width: 50%;
  height: 100px;
}

.selfie {
  max-width: 10%;
  display: flex;
  flex-flow: column wrap;
  justify-content: right;
  padding: 10px;
  box-shadow: 5px 5px 5px black;
}
