#form {
  background-color: white;
  width: 350px;
  border: 10px solid black;
  padding: 50px;
  margin: 20px;
}

header {
  background-color: #008b8b;
  text-align: center;
  max-width: 150%;
  border: 2px solid black;
  border-radius: 5px;
}

.footer {
  background-color: #008b8b;
  text-align: center;
  max-width: 100%;
}

footer {
  background-color: #008b8b;
}
