#form {
  background-color: white;
  width: 500px;
  border: 10px solid black;
  padding: 50px;
  margin: 20px;
}

header {
  background-color: #008b8b;
  text-align: center;
  width: fit-content;
  border: 2px solid black;
  border-radius: 5px;
}
