@media only screen and (min-width: 40em) {
  p {
    font-size: 16px;
  }
  header img {
    width: 128px;
  }
  section {
    font-size: 22px;
  }
  .navigation {
    display: flex;
  }
  .navigation li {
    flex: 1 1 auto;
    display: block;
  }
  .navigation li:first-child {
    display: none;
  }
  .navigation a {
    font-size: 20px;
  }
  nav ul {
    flex-flow: row wrap;
  }
  footer p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 620px) {
  header img {
    width: 130px;
    height: 130px;
  }

  header {
    padding: 1em;
    justify-content: center;
  }

  h1 {
    font-size: 3em;
  }
}

@media only screen and (min-width: 32.5em) {
  .navbar {
    display: flex;
  }
  .navbar li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }
  .navbar a {
    text-align: center;
  }
  .navbar li:first-child {
    display: none;
  }

  main section {
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
  }
  main h2 {
    font-size: 2rem;
  }
  main p {
    font-size: 1.1em;
  }
}
