@media only screen and (min-width: 50em) {
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
  header img {
    width: 128px;
  }
  section {
    font-size: 22px;
  }
  .navigation {
    display: flex;
  }
  .navigation li {
    flex: 1 1 auto;
    display: block;
  }
  .navigation li:first-child {
    display: none;
  }
  .navigation a {
    font-size: 20px;
  }
  nav ul {
    flex-flow: row wrap;
  }
  footer p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 620px) {
  main {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }

  header img {
    width: 130px;
    height: 130px;
  }

  header {
    padding: 1em;
    justify-content: center;
  }

  h1 {
    font-size: 3em;
  }

  h3 {
    display: block;
    text-align: center;
    text-decoration: underline;
  }

  .article img {
    float: right;
    width: 300px;
    margin: 0 1em 1em;
  }

  .article {
    margin-bottom: 50px;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  article {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
}

@media only screen and (min-width: 32.5em) {
  .navbar {
    display: flex;
  }
  .navbar li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }
  .navbar a {
    text-align: center;
  }
  .navbar li:first-child {
    display: none;
  }
}
