@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&display=swap");

@media only screen and (min-width: 80em) {
  h2 {
    font-size: 1.8em;
  }

  .navigation a {
    font-size: 22px;
  }

  .townData {
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    font-family: Oswald;
    text-align: center;
    align-items: center;
  }

  .townData section {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .townData section:nth-child(odd) img {
    grid-row: 3/4;
    grid-column: 1;
    width: 300px;
    height: 100px;
    margin: auto;
  }

  .townData section:nth-child(even) img {
    grid-row: 3/4;
    grid-column: 1;
    width: 300px;
    height: 100px;
    margin: 3px 0 0;
  }

  .townData section:nth-child(even) p {
    grid-column: 1;
    height: 50%;
  }
}
